body{
    text-align: center;
    font-size: 2rem;
}

#div{
    background-color: #333333;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.gamebutton{
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    border-radius: 50px;
}

button:hover{
    background-color: #000;
}

#p1{
    background-color: #00ff00;
}

#p0{
    background-color: #0000ff;
}

#p-1{
    background-color: #ff0000;
}